
# npm package cache
node_modules
# dotenv environment variables file
.env
.env.test

dev.db

# next.js build output
.next

log

cashreceiptrobotlogs
#package
package-lock.json
pnpm-lock.yaml
# IDE folders
.idea
.vscode